<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sistemac Sistemas</title>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" href="/bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>
	<% include cabecalho %>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<img src="../images/logo2.png" class="img-responsive">
			</div>
			<div class="col-md-8">
				<h3 class="page-header">Sobre a Empresa:</h3>
				<p class="about">
					A Sistemac é uma empresa que desenvolve soluções focadas no microempreendedor e no atacadista em geral.
					Seja um supermercado, uma loja de roupa ou até mesmo uma loja de autopeças temos as soluções perfeitas 
					para o seu negócio.
				</p>
			</div>
			<div class="col-md-12"><br></div>
		</div>
	</div>

	<% include rodape %>
</body>
</html>