<footer>
	<div class="container-fluid" >
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h5 class="page-header">Siga-nos nas redes sociais</h5>
						<a href=""> <i class="fa fa-facebook-square fa-3x"></i></a>
						&nbsp;&nbsp;&nbsp;
						<a href=""> <i class="fa fa-instagram fa-3x"></i></a>
					</div>
					<div class="col-md-6 col-md-offset-2 footer-text">
						sistemac sistemas ltda
						<p>
							rua acre n. 12 - setor gobato, goiatuba, go. <br>
							c.n.p.j. 25.968.078/001-25 <br>
							telefone: (64) 98447-4883
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>
